*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0d1a2d;
}



.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .box{
        height: 70vh;
        width: 42vh;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        background-color: #15273f;
        border-radius: 10px;
        box-shadow: 0 10px 47px 0 rgb(5 5 5 / 66%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        // justify-content: center;
        // align-items: center;
        // text-align: center;

        .image{
            // background-color: #ffffff;
            .visible{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: #32e4ed;
                    border-radius: 10px;
                    cursor: pointer;

                .a11{
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                }
                .a12{
                    position: absolute;
                    display: none;
                    
                }

                &:hover{
                    z-index: 2;
                    .a11{
                        // background-color: #15273f;
                        background-color: #32e4ed;
                        z-index: 1;
                        opacity: 0.5;

                    }
                    .a12{
                        display: block;
                        background-size: cover;
                        z-index: 99;
                        opacity: 1;
                    }
                }
            }
        }
        .dec{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // align-items: center;
            // text-align: center;

            h1{
                position: relative;
                top: 1.5rem;
                font-size: 1.3rem;
                color: #ffff;
                cursor: pointer;

                &:hover{
                    color: #32e4ed;
                }
            }
            p{
                position: relative;
                top: 1.2rem;
                color: #7185a0;
            }
            .sapnn{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .a1{
                    display: flex;
                    justify-content: center;
                    color: #32e4ed;
                    font-weight: 800;
                    img{
                        margin-right: .3rem;
                    }
                }
                .a2{
                    display: flex;
                    justify-content: center;
                    // color: #32e4ed;
                    font-weight: 800;
                    img{
                        margin-right: .3rem;
                    }
                }
            }
            hr{
                position: relative;
                top: .5rem;
                // font-size: 1px;
            }
            .footer{
                display: flex;
                flex-direction: row;
                align-items: center;
                img{
                    height: 25px;
                    width: 25px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    margin-right: 15px;
                    justify-content: center;
                }
                h5{
                    font-size: 1rem;
                    margin-right: 5px;
                    color: #465f7f;
                    font-weight: 100;
                }
                h6{
                    font-size: 1rem;
                    color: #e1e7ee;
                    font-weight: 100;
                    cursor: pointer;

                    &:hover{
                        color: #32e4ed;
                    }
                }
            }
        }
    }
}